# Virtual Environment
starfruit/
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Model & Dataset (optional, uncomment jika ingin exclude)
# model/
# dataset/